<!doctype html>
{% load staticfiles %}
<div class="right_ctn">
	<div class="detail_box">
		<ul class="detail_top">
			<li>基本信息</li>
		</ul>
		<div class="detail_ctn">
			<div class="detail_ctne p20">
				<div class="clearfix"> <span class="basic_l">用户ID：</span> <span class="basic_r">{{user.id}}</span></div>
				<div class="clearfix"> <span class="basic_l">用户名称：</span> <span class="basic_r">{{user.nick_name}}</span></div>
				<div class="clearfix"> <span class="basic_l">微信ID：</span> <span class="basic_r">{{user.player_id}}</span></div>
				<div class="clearfix"> <span class="basic_l">微信头像：</span> <span class="basic_r">{{user.head_img_url}}</span></div>
				<div class="clearfix"> <span class="basic_l">性别：</span> <span class="basic_r">{{user.sex}}</span></div>
				<div class="clearfix"> <span class="basic_l">房卡数量：</span> <input id="fangka_num" class="basic_r" value={{user.fangka_num}}></div>
				<div class="clearfix"> <span class="basic_l">金币数量：</span> <input id="gold" class="basic_r" value={{user.gold}}></div>
				<div class="clearfix"> <span class="basic_l">电话：</span> <span class="basic_r">{{user.phone_num}}</span></div>
				<div class="clearfix"> <span class="basic_l">游戏场数：</span> <span class="basic_r">{{user.round_num}}</span></div>
				<div class="clearfix"> <span class="basic_l">游戏总分数：</span> <span class="basic_r">{{user.all_score}}</span></div>
				<div class="clearfix"> <span class="basic_l">游戏胜利数：</span> <span class="basic_r">{{user.win_num}}</span></div>
				<div class="clearfix"> <span class="basic_l">游戏失败数：</span> <span class="basic_r">{{user.lose_num}}</span></div>
				<div class="clearfix"> <span class="basic_l">购买房卡总数：</span> <span class="basic_r">{{user.fangka_history}}</span></div>
				<div class="clearfix"> <span class="basic_l">无效的房卡数：</span> <span class="basic_r">{{user.invalid_fangka}}</span></div>
				<div class="clearfix"> <span class="basic_l">公会ID：</span> <span class="basic_r">{{user.gonghui_id}}</span></div>
				<div class="clearfix"> <span class="basic_l">登录次数：</span> <span class="basic_r">{{user.loginCount}}</span></div>
				<div class="clearfix"> <span class="basic_l">创建时间：</span> <span class="basic_r">{{user.createTime}}</span></div>
				<div class="clearfix"> <span class="basic_l">连续登录天数：</span> <span class="basic_r">{{user.continueLoginDays}}</span></div>
				<div class="clearfix"> <span class="basic_l">上次登录时间：</span> <span class="basic_r">{{user.lastLoginTime}}</span></div>
			<div class="clearfix" align="center"><input type="button" value="提 交" class="login_btn" onclick="modify_fangka({{user.id}});"></div>
			</div>
		</div>
	</div>
</div>

<div id="buyfangka_pop" class="none">
	<form id="buyfangka_popf" action="" method="post">
		{% csrf_token %}
		<div class="clearfix mt10">
			<div class="pop_w1">
				<label class="search_label"><span class="red">*</span>订单号：</label>
				<label class="search_label" id="pop_order_id"></label>
			</div>
			<div class="pop_w1 ml10">
				<label class="search_label"><span class="red">*</span>用户ID：</label>
				<label class="search_label" id="pop_player_id"></label>
			</div>
		</div>
		<div class="clearfix mt10">
			<div class="pop_w1">
				<label class="search_label"><span class="red">*</span>房卡数量：</label>
				<label class="search_label" id="pop_fangka_num"></label>
			</div>
			<div class="pop_w1 ml10">
				<label class="search_label"><span class="red">*</span>单 价：</label>
				<label class="search_label" id="pop_danjia"></label>
			</div>
		</div>
		<div class="clearfix mt10">
			<div class="pop_w1">
				<label class="search_label"><span class="red">*</span>金币数量：</label>
				<label class="search_label" id="pop_gold"></label>
			</div>
			<div class="pop_w1 ml10">
				<label class="search_label"><span class="red">*</span>单 价：</label>
				<label class="search_label" id="pop_gold_danjia"></label>
			</div>
		</div>
		<div class="clearfix mt10">
			<div class="pop_w1">
				<label class="search_label"><span class="red">*</span>总 价：</label>
				<label class="search_label" id="pop_zongjia"></label>
			</div>
		</div>
	</form>
</div>
