<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>关于我们-肃宁鑫畅网络科技有限公司</title>
<meta name="Description" content="肃宁鑫畅网络科技有限公司专业从事棋牌游戏定制开发,手机棋牌游戏定制开发的职业科技公司，力争成为国际知名棋牌开发,棋牌游戏开发公司，向业界提供优质棋牌游戏产品。" />
<meta name="Keywords" content="专业棋牌游戏开发,棋牌游戏定制,棋牌游戏开发商,棋牌游戏程序,手机棋牌游戏开发,棋牌游戏源码,肃宁鑫畅网络科技有限公司" />
<link  href="{% static 'css/style2016.css' %}"rel="stylesheet" type="text/css">
<link href="{% static 'css/style2018.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/css.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lrtk.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
  <section class="area cl" id="top">
    <h1 class="logo"><a href="">肃宁鑫畅-专注手机棋牌游戏定制开发!</a></h1>
    <div class="logotext">运营级棋牌游戏定制开发商</div>
    <div class="nav_list"></div>
    <div class="nav">
      <nav> <a href="/index">首页</a><a href="#">手机棋牌</a> <a href="#">棋牌定制</a><a class="current" ref="/aboutus">关于我们</a></nav>
    </div>
  </section>
</header>
<!--banner-->
<section class="aboutbanner"></section>
<section id="main" class="area">
	<div class="location"><a href="/index">首页</a> > 关于我们</div>
	<section class="area combox">
		<section class="nleft">
			<article class="artbox">
				<div class="middle">
					<p>肃宁县鑫畅网络科技有限公司运营级棋牌开发商。注册资金20万元。公司位于沧州市，致力于棋牌游戏开发与运营。开发棋牌游戏、扑克游戏、麻将游戏、地方游戏等。</p>
					<p>专注于网页游戏和移动游戏运营，是集网络游戏研发、营销、运营、销售服务于一体的游戏综合服务企业。&nbsp;</p>
				</div>
			</article>
		</section>
		<section class="pleft">
			<nav class="catebox swiper-container cate-nav">
				<ul class="catelist cl swiper-wrapper">
					<li  class="current swiper-slide"><a href="/aboutus"><h3>关于我们</h3></a></li>
					<li class="swiper-slide"><a href="#"><h3>客服中心</h3></a></li>
					<li class="swiper-slide"><a href="#"><h3>联系我们</h3></a></li>
				</ul>
			</nav>
		</section>
	</section>
</section>
<footer class="cl">
  <nav class="area" align="center">
    <p class="cl"> <span class="fl"> <a href="/aboutus">关于我们</a> &nbsp;|&nbsp; <a href="#">客服中心</a> &nbsp;|&nbsp; <a href="#">联系我们</a> </span> </p>
    <p class="cl">冀ICP备18018000 &nbsp; &nbsp;<a target="_blank" href="http://www.enjoymygame.com/">Copyright © 2018-2020</a>&nbsp;&nbsp;肃宁县鑫畅网络科技有限公司 </p>
    <p class="cl">业务范围：棋牌游戏,棋牌游戏开发,手机棋牌开发,棋牌游戏源码,网络棋牌游戏,地方棋牌游戏,棋牌游戏平台开发,</p>
	<p class="cl">棋牌游戏定制 抵制不良游戏，拒绝盗版游戏。 注意自我保护，谨防受骗上当。 适度游戏益脑，沉迷游戏伤身。 合理安排时间，享受健康生活。 </p>
  </nav>
</footer>
</body>
</html>
