<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>定制棋牌-肃宁鑫畅网络科技有限公司</title>
<meta name="Description" content="肃宁鑫畅网络科技有限公司专业从事棋牌游戏定制开发,手机棋牌游戏定制开发的职业科技公司，力争成为国际知名棋牌开发,棋牌游戏开发公司，向业界提供优质棋牌游戏产品。" />
<meta name="Keywords" content="专业棋牌游戏开发,棋牌游戏定制,棋牌游戏开发商,棋牌游戏程序,手机棋牌游戏开发,棋牌游戏源码,肃宁鑫畅网络科技有限公司" />
<link href="{% static 'css/style2016.css' %}"rel="stylesheet" type="text/css">
<link href="{% static 'css/dzglobal.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/dzindex.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/jquery-1.10.2.min.js' %}" type="text/javascript"></script>

</head>
<body>
<header>
	<section class="area cl" id="top">
		<h1 class="logo"><a href="/index">肃宁鑫畅-专注手机棋牌游戏定制开发!</a></h1>
		<div class="logotext">运营级棋牌游戏定制开发商</div>
		<div class="nav_list"></div>
		<div class="nav">
			<nav> <a href="/index">首页</a><a href="/shoujiqipai">手机棋牌</a> <a class="current" href="/dingzhiqipai">棋牌定制</a><a href="/aboutus">关于我们</a></nav>
		</div>
	</section>
</header>
<!--banner-->
<section class="qpbanner"></section>
<div class="index-do container mar-b100" style="margin-top:50px;">
	<div class="header mar-b80 text-center">
		<p class="h1">—&nbsp;&nbsp;完善售后服务 为运营成功添筹码&nbsp;&nbsp;—</p>
	</div>
	<div class="content row">
		<div class="col-3">
			<a class="item item3"> <i class="icon"></i>
				<p class="h4 text-dark">1年免费</p>
				<p class="info">技术支持服务</p>
			</a>
		</div>
		<div class="col-3">
			<a class="item item1"> <i class="icon"></i>
				<p class="h4 text-dark">7x8小时</p>
				<p class="info">专职在线客服</p>
			</a>
		</div>
		<div class="col-3">
			<a class="item item2"> <i class="icon"></i>
				<p class="h4 text-dark">永久免费</p>
				<p class="info">游戏BUG修复</p>
			</a>
		</div>
	</div>
</div>
<div class="index-anli-2 mar-b100">
	<div class="container">
		<div class="header text-center mar-b50">
			<p class="h1 mar-b20">—&nbsp;&nbsp;支持定制开发&nbsp;&nbsp;—</p>
			<p class="h5">已开发60余款地方特色手游支持定制开发。</p>
		</div>
		<div class="row mar-b20">
			<a href="http://wpa.qq.com/msgrd?v=3&uin=1224551851&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank" class="item col-4">
				<div class="cover"> <img src="{% static 'd/file/qipaidingzhi/2018-04-16/30bf772677ede813d9d42b931603287b.jpg' %}"></div>
				<div class="content">
					<h3>安徽麻将</h3>
				</div>
			</a>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=1224551851&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank" class="item col-4">
				<div class="cover"> <img src="{% static 'd/file/qipaidingzhi/2018-04-16/230ed068ab398c8952e031fa4ef9335d.jpg' %}"> </div>
				<div class="content">
					<h3>哈灵棋牌</h3>
				</div>
			</a>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=1224551851&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank" class="item col-4">
				<div class="cover"> <img src="{% static 'd/file/qipaidingzhi/2018-04-16/dc9bbc1f9344678a4e58b92aee2542c1.jpg' %}"> </div>
				<div class="content">
					<h3>湖南麻将</h3>
				</div>
			</a>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=1224551851&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank" class="item col-4">
				<div class="cover"> <img src="{% static 'd/file/qipaidingzhi/2018-04-16/8e4c0a4c5ddc91f9fd80b40bd82b129f.jpg' %}"> </div>
				<div class="content">
					<h3>牛大魔王</h3>
				</div>
			</a>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=1224551851&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank" class="item col-4">
				<div class="cover"> <img src="{% static 'd/file/qipaidingzhi/2018-04-16/7e380b3b0b1ca3216463ef9f9d879650.jpg' %}"> </div>
				<div class="content">
					<h3>棋牌娱乐</h3>
				</div>
			</a>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=1224551851&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank" class="item col-4">
				<div class="cover"> <img src="{% static 'd/file/qipaidingzhi/2018-04-16/768be82d960dc2399792ab007c5d41bc.jpg' %}"> </div>
				<div class="content">
					<h3>棋牌娱乐</h3>
				</div>
			</a>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=1224551851&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank" class="item col-4">
				<div class="cover"> <img src="{% static 'd/file/qipaidingzhi/2018-04-16/1053736b8a8f7c71821213c475f21e6e.jpg' %}"> </div>
				<div class="content">
					<h3>咱厝人棋牌娱乐</h3>
				</div>
			</a>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=1224551851&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank" class="item col-4">
				<div class="cover"> <img src="{% static 'd/file/qipaidingzhi/2018-04-16/f508f8de4d8977fe4e1ec3f297dc8e46.jpg' %}"> </div>
				<div class="content">
					<h3>新博望麻将</h3>
				</div>
			</a>
		</div>
		<div class="text-center">
			<a class="btn btn-large" href="http://wpa.qq.com/msgrd?v=3&uin=1224551851&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank">咨询更多</a>
		</div>
	</div>
</div>
<div class="index-jiangshi container mar-b100">
	<div class="header">
		<p class="h1 mar-b20">—&nbsp;&nbsp;多种运营推广方式&nbsp;&nbsp;—</p>
	</div>
	<div class="row mar-b50">
		<div class="col-3">
			<div class="item"> <img src="{% static 'img/weixin.jpg' %}" alt="">
				<div class="info">
					<h4>好友微信邀约</h4>
					<p>突破传统棋牌模式，好友邀约组局，安全性更高，体验更真实，更易推广</p>
					<a class="btn btn-small btn-gray" href="">详细</a>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="item"> <img src="{% static 'img/daili.jpg' %}" alt="">
				<div class="info">
					<h4>完善代理系统</h4>
					<p>完善代理机制，解决后期推广问题，大大缩减推广成本</p>
					<a class="btn btn-small btn-gray" href="">详细</a>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="item"> <img src="{% static 'img/difang.jpg' %}" alt="">
				<div class="info">
					<h4>地方特色定制</h4>
					<p>定制专属地方特色棋牌，迎合地方玩家习惯，融入地方特色，提升玩家亲和度，
					提升用户留存，竞争小，更易运营！</p>
					<a class="btn btn-small btn-gray" href="">详细</a>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a class="btn btn-large" href="http://wpa.qq.com/msgrd?v=3&uin=1224551851&site=qq&menu=yes&from=message&isappinstalled=0">更多请点击咨询</a>
	</div>
</div>
<div class="page-mf">
	<div class="box1 container">
		<p class="h1 mar-b50">帮你跨越技术门槛 实现棋牌运营</p>
		<div class="row">
			<dl class="col-3">
				<dt><span>01</span></dt>
				<dd><h3>平台稳定</h3>采用C++与Cocos2D-X游戏引<br>擎开发的平台，稳定可靠！</dd>
			</dl>
			<dl class="col-3">
				<dt><span>02</span></dt>
				<dd><h3>技术培训</h3>提供免费培训、架设等一条龙服<br>务，包教会使用棋牌软件！</dd>
			</dl>
			<dl class="col-3 nth-child3">
				<dt><span>03</span></dt>
				<dd><h3>运营指导</h3>客服经理一对一服务，协助处理<br>上线运营前各类事情！</dd>
			</dl>
		</div>
	</div>
</div>

<script>
$(function() {
	// 悬浮窗口
	$(".yb_conct").hover(function() {
		$(".yb_conct").css("right", "5px");
		$(".yb_bar .yb_ercode").css('height', '200px');
	}, function() {
		$(".yb_conct").css("right", "-127px");
		$(".yb_bar .yb_ercode").css('height', '53px');
	});
	// 返回顶部
	$(".yb_top").click(function() {
		$("html,body").animate({
			'scrollTop': '0px'
		}, 300)
	});
});
</script>
<footer class="cl">
	<nav class="area" align="center">
		<p class="cl"> <span class="fl"> <a href="/aboutus">关于我们</a> &nbsp;|&nbsp; <a href="#">客服中心</a> &nbsp;|&nbsp; <a href="#">联系我们</a> </span> </p>
		<p class="cl">冀ICP备18018000 &nbsp; &nbsp;<a target="_blank" href="http://www.enjoymygame.com/">Copyright © 2018-2020</a>&nbsp;&nbsp;肃宁县鑫畅网络科技有限公司 </p>
		<p class="cl">业务范围：棋牌游戏,棋牌游戏开发,手机棋牌开发,棋牌游戏源码,网络棋牌游戏,地方棋牌游戏,棋牌游戏平台开发,</p>
		<p class="cl">棋牌游戏定制 抵制不良游戏，拒绝盗版游戏。 注意自我保护，谨防受骗上当。 适度游戏益脑，沉迷游戏伤身。 合理安排时间，享受健康生活。 </p>
	</nav>
</footer>
<!-- 代码 开始 -->
<div class="yb_conct">
	<div class="yb_bar">
		<ul>
			<li class="yb_top">返回顶部</li>
			<li class="yb_phone">13718604705</li>
			<li class="yb_QQ">
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1224551851&amp;site=qq&amp;menu=yes&amp;from=message&amp;isappinstalled=0" title="即刻发送您的需求">1224551851</a>
			</li>
			<!--li class="yb_ercode" style="height:53px;">微信二维码 <br>
				<img class="hd_qr" src="images/rweixin.jpg" alt="关注微信"> </li-->
		</ul>
	</div>
</div>
<!-- 代码 结束 -->
<script>
var _hmt = _hmt || [];
(function() {
	var hm = document.createElement("script");
	hm.src = "https://hm.baidu.com/hm.js?79202de9273acbdac0fd40d899b7a3b1";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>
