<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>畅游牌九</title>
<style type="text/css">
<!--
body {
	background-color: #CCCCCC;
}
-->
</style></head>

<body>
<p><img src="{% static 'img/timg2222.jpg' %}" width="271" height="211" align="absmiddle" /></p>
<p><a href="/download_app?tag=android" title="牌九下载">安卓版本下载 </a></p>
<p><a href="/download_app?tag=iphone" title="牌九下载"> 苹果版本下载</a></p>
</body>
</html>
